@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:"Poppins",sans-serif;
}

html{
    scroll-behavior:smooth;
}

@layer utilities {
    .clip-path-custom{
        clip-path:polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
    .clip-path-custom-2{
        clip-path:polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
    }
    .clip-path-custom-3{
        clip-path:polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
    }
}
